$color-blanco: #ffffff;
$color-rojo: #ff0909;
$color-rojo-marron:#d81919a6;
$color-amarillo: #ecf01a;
$color-verde: #3bdd26;
$color-azul: #081fee;
$color-rosa: #dd26af;
$color-violeta: #c009eedc;
$color-anarajando: #ff2600;

